body {
  background-color: lightskyblue;
  margin: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  /*font-family: Source Sans Pro;*/
  color: black;
}

canvas {
  border: 10px solid, slategray;
  font-family: monospace;
}

#trigger-take-test {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  /*font-family: Architects Daughter;*/
  padding: 150px;
  margin: 50px;
  font-size: 3rem;
  /*border: 2px solid black;*/
  background-color: lightslategrey;
}

h3 {
  font-weight: bolder;
  font-size: 1.5em;
}

#test-rules {
  display: block;
  padding-left: 60px;
}

em {
  font-weight: bold;
}

#picture-attribution {
  font-size: 10px;
  padding-top: 400px;
}
